:root {
    --rosaFuerte : #F54C7F;
    --rosaRosa : #FFA1D4;
    --rosaPiel : #FFC5BD;
    --rosa1 : #F59D98 ;
    --rosa2 : #FF8088;
    --roboto: 'Roboto', sans-serif;
    --kanit: 'Kanit', sans-serif;
    --lato: 'Lato', sans-serif;
    --white: #fff;
    --black: #2e2e2e;
    --gray: #787878;
    --highlight: #ea8478;
    --footer: #f7f7f7;
}

  body {
    background-color:var(--rosaPiel);
    font-family: Nunito, sans-serif;
    overflow-x: hidden;
  }

  h1 {
    text-align: center;
    color: var(--rosaFuerte);
  }

  .parrafo-link {
    text-align: center;
  }

  .parrafo-link a {
    color: var(--white);
    text-decoration: none;
  }

  @media (max-width: 705px) {
    body {
      font-size: 0.8em;
    }
  }
  
  .deck {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 5em auto 3em;
  }
  @media (max-width: 705px) {
    .deck {
      margin: 4em auto;
    }
  }
  .deck:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 95%;
    top: -1.5em;
    left: 0em;
    border-radius: 8px;
    background: linear-gradient(109.61deg, #6174ff 4.26%, #f80000 84.84%);
  }
  @media (max-width: 550px) {
    .deck:before {
      left: 1.5em;
    }
  }
  
  .card {
    position: relative;
    background-color:var(--rosaFuerte);
    padding: 1em;
    z-index: 5;
    border-radius: 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    transition: 200ms ease-in-out;
  }

  .fa-envelope {
    color: var(--rosaPiel);
  }
  .card + .card {
    margin-top: 1em;
  }
  .card:hover {
    z-index: 7;
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
  }
  .card-muy-izq {
    margin-left: -3em;
    margin-right: 3em;
  }
  @media (max-width: 705px) {
    .card-muy-izq {
      margin-left: -1em;
      margin-right: 1em;
    }
  }
  @media (max-width: 550px) {
    .card-muy-izq {
      margin: 0;
    }
  }
  .card-derecha {
    margin-left: 8em;
    margin-right: -8em;
    margin-top: -6em;
  }
  @media (max-width: 705px) {
    .card-derecha {
      margin-left: 1em;
      margin-right: -1em;
      margin-top: 1em;
    }
  }
  @media (max-width: 550px) {
    .card-derecha {
      margin: 1em 0 0;
    }
  }
  .card-poco-izq {
    margin-top: -2em;
    margin-left: -1em;
    margin-right: 1em;
  }
  @media (max-width: 705px) {
    .card-poco-izq {
      margin-left: -1em;
      margin-right: 1em;
      margin-top: 1em;
    }
    .card-poco-izq:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1em;
      display: block;
      border-bottom: 5px solid rgba(192, 57, 43, 0.6);
    }
  }
  @media (max-width: 550px) {
    .card-poco-izq {
      margin: 1em 0 0;
    }
    
    .card-derecha , .card-muy-izq , .card-poco-izq {
      font-size: 1.3rem;
    }

    .cardHeader_account {
      width: 100%;
    }
  }
  
  .cardHeader {
    display: grid;
    grid-template-columns: 36px auto 100px;
    align-items: center;
    text-transform: uppercase;
  }
  .cardHeader .cardHeader_type {
    color: #FFD433;
    margin: 10px;
  }
  .cardHeader .cardHeader_account {
    color: #C6E1ED;
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .cardHeader .cardHeader_date {
    margin: 10px;
    color: #C6E1ED;
    font-size: 0.85em;
    font-weight: 600;
    text-align: right;
  }
  
  .cardBody {
    display: flex;
    margin: 0 10px 10px;
  }
  .cardBody .cardText {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #c0c3d7;
    font-weight: 400;
    line-height: 1.5;
  }
  .cardBody .cardText .cardText_highlight {
    color: #ffe480;
  }
  .cardBody .cardStats {
    font-size: 0.9em;
    text-align: right;
  }
  .cardBody .cardStats .cardStats_stat {
    display: inline-block;
    white-space: nowrap;
  }
  .cardBody .cardStats .cardStats_stat + .cardStats_stat {
    margin-top: 5px;
  }
  .cardBody .cardStats .cardStats_stat.cardStats_stat-likes {
    color: #FFD3D4;
  }
  .cardBody .cardStats .cardStats_stat.cardStats_stat-retweets {
    color: #B2D9A6;
  }
  .cardBody .cardStats .cardStats_stat.cardStats_stat-shares {
    color: #d284a3;
  }
  .cardBody .cardStats .cardStats_stat.cardStats_stat-comments {
    color: #ff9579;
  }
  

  
  /* COMIENZO BOTONES */

 

#content-boton {
  width: 160px;
  margin: 25px auto;
}

aside {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
aside:hover {
  top: -1px;
}
aside:active {
  top: 1px;
}
aside.diamond {
  background-color: #C6ED8D;
}
aside.diamond:after, aside.diamond:before {
  border-color: transparent #C6ED8D;
}
aside.diamond:before {
  left: -17px;
  border-width: 17px 17px 17px 0;
}
aside.diamond:after {
  right: -17px;
  border-width: 17px 0 17px 17px;
}
aside.ribbon {
  background-color: #7DE3C8;
}
aside.ribbon:before, aside.ribbon:after {
  top: 5px;
  z-index: -10;
}
aside.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
aside.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}
aside.arrow {
  background-color: #8D96ED;
}
aside.arrow:after, aside.arrow:before {
  border-width: 17px 0 17px 17px;
}
aside.arrow:before {
  border-color: #8D96ED transparent;
  left: -17px;
}
aside.arrow:after {
  border-color: transparent #8D96ED;
  right: -17px;
}
aside.rounded {
  background-color: #FC9E86;
  border-radius: 25px / 17px;
  left: -20px;
  width: 200px;
  text-align: center;
}
aside.sheer {
  background-color: #85C9ED;
  left: -5px;
  width: 170px;
}
aside.sheer:after, aside.sheer:before {
  border-width: 33px 10px 0 0;
}
aside.sheer:before {
  left: -10px;
  border-color: transparent #85C9ED;
}
aside.sheer:after {
  right: -10px;
  border-color: #85C9ED transparent;
}

aside:before, aside:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
}

.link-dedicatorias {
    color: var(--footer);
    text-decoration: none;
    font-size: 1.1rem;
}