:root {
    --rosaFuerte : #F54C7F;
    --rosaRosa : #FFA1D4;
    --rosaPiel : #FFC5BD;
    --rosa1 : #F59D98 ;
    --rosa2 : #FF8088;
    --roboto: 'Roboto', sans-serif;
    --kanit: 'Kanit', sans-serif;
    --lato: 'Lato', sans-serif;
    --white: #fff;
    --black: #2e2e2e;
    --gray: #787878;
    --highlight: #ea8478;
    --footer: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
}

.section-galeria {
    background-color:var(--rosa1);
    text-align: center;
    padding: 2rem 0;
}
h1 {
  color: var(--rosaFuerte);
}
.parrafo-link {
  text-align: center;
}

.parrafo-link a {
  color:black;
  text-decoration: none;
}

.contenedor-galeria {
  display: grid;
  /* Con esto dije cuantas columnas quiero y cuanto midan */
  grid-template-columns: repeat(3, 1fr);
  /* Con esto di la altura de las filas */
  grid-auto-rows: 350px;
  /* Grid gap da un espaciado entre las distintas casillas del grid */
  grid-gap: 10px;
  padding: 20px;
  margin: 0 0 7rem 0;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.gallery__item:nth-child(1) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}



.gallery__item:nth-child(9) {
  grid-column-start: span 2;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item2:nth-child(1) {
  grid-row-start: span 2;
}

.gallery__item2:nth-child(6) {
  grid-column-start: span 2;
}



.gallery__item2:nth-child(9) {
  grid-column-start: span 2;
}


.gallery__item3:nth-child(1) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

.gallery__item3:nth-child(6) {
  grid-row-start: span 2;
}



.gallery__item4:nth-child(1) {
  grid-column-start: span 2;
}

.gallery__item4:nth-child(4) {
  grid-column-start: span 2;
}

.gallery__item4:nth-child(8) {
  grid-column-start: span 2;
}


.gallery__item5:nth-child(1) {
  grid-row-start: span 2;
}

.gallery__item5:nth-child(4) {
  grid-row-start: span 2;
}

.gallery__item5:nth-child(3) {
  grid-row-start: span 2;
}

.gallery__item5:nth-child(7) {
  grid-column-start: span 3;
}


 /* Phone landscape + portrait (iphone x) */
 @media (min-width: 321px) and (max-width: 480px) {
  .contenedor-galeria {
    display: grid;
    /* Con esto dije cuantas columnas quiero y cuanto midan */
    grid-template-columns: repeat(1, 1fr);
    /* Con esto di la altura de las filas */
    grid-auto-rows: 350px;
    /* Grid gap da un espaciado entre las distintas casillas del grid */
    grid-gap: 10px;
    padding: 20px;
    margin: 0 ;
  }
  .gallery__item {
    grid-column-start: span 3;
  }
  .gallery__item2 {
    grid-column-start: span 3;
  }
  .gallery__item3 {
    grid-column-start: span 3;
  }
  .gallery__item4 {
    grid-column-start: span 3;
  }
  
  .gallery__item5 {
    grid-column-start: span 3;
  }
  

}

/* Small tablet portrait con aprox 800 de Height */
@media (min-width: 481px) and (max-width: 600px) {
  .contenedor-galeria {
    display: grid;
    /* Con esto dije cuantas columnas quiero y cuanto midan */
    grid-template-columns: repeat(1, 1fr);
    /* Con esto di la altura de las filas */
    grid-auto-rows: 350px;
    /* Grid gap da un espaciado entre las distintas casillas del grid */
    grid-gap: 10px;
    padding: 20px;
    margin: 0 ;
  }
  .gallery__item {
    grid-column-start: span 3;
  }
  .gallery__item2 {
    grid-column-start: span 3;
  }
  .gallery__item3 {
    grid-column-start: span 3;
  }
  .gallery__item4 {
    grid-column-start: span 3;
  }
  
  .gallery__item5 {
    grid-column-start: span 3;
  }
  
}