:root {
    --rosaFuerte : #F54C7F;
    --rosaRosa : #FFA1D4;
    --rosaPiel : #FFC5BD;
    --rosa1 : #F59D98 ;
    --rosa2 : #FF8088;
    --roboto: 'Roboto', sans-serif;
    --kanit: 'Kanit', sans-serif;
    --lato: 'Lato', sans-serif;
    --white: #fff;
    --black: #2e2e2e;
    --gray: #787878;
    --highlight: #ea8478;
    --footer: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background:var(--rosaFuerte);
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.titulo-felicidades {
    text-align: right;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.06em;
    margin: 0 0 16px;
    
}

.div-linea-separadora {
    height: 200px;
    width: 5px;
    background-color: yellow;
    margin: 0 3rem ;
}

.titulo-habemus {
    text-align: left;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.06em;
    margin: 0 0 16px;
}
  
.span-titulos {
    color: #fff;
    display: block;
    font-size: 4rem;
    line-height: 1.1;
    position: relative;
}
  
.span-titulos::before {
    animation-name: var(--animation, a);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 4rem;
    position: absolute;
    inset: 0;
    content: var(--content);
    opacity: 1;
}
  
@keyframes a {
  
    0%,
    16.667%,
    100% {
      opacity: 1;
    }
  
    33.333%,
    83.333% {
      opacity: 0;
    }
}
  
@keyframes a2 {
  
    0%,
    100% {
      opacity: 0;
    }
  
    33.333%,
    50% {
      opacity: 1;
    }
  
    16.667%,
    66.667% {
      opacity: 0;
    }
}
  
@keyframes a3 {
    0%,
    50%,
    100% {
      opacity: 0;
    }
  
    66.667%,
    83.333% {
      opacity: 1;
    }
}

.section-principal {
    height: 70vh;
    background-color: var(--rosaPiel);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-section {
    color: var(--rosaFuerte);
    margin: 2rem 0;
    font-size: 3rem;
    font-family:var(--roboto);
}

.parrafos-section {
    color: black;
    width: 70%;
    font-family: var(--lato);
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 2rem;
}

.nombre-dani {
  font-size: 1.6rem;
  color: var(--rosaFuerte);
  font-weight: 800;
}

.segundo-section {
  height: auto;
}

.article-con-links {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--rosaFuerte);
}

.titulo-section1 {
  color:var(--white);
  margin: 2rem 0;
  font-size: 3rem;
  font-family:var(--roboto);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}



.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */



.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}



/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }



}

 /* Phone landscape + portrait (iphone x) */
@media (min-width: 321px) and (max-width: 480px) {
  header {
    flex-direction: column;
}

.titulo-felicidades , .titulo-habemus{
  text-align: center;
}

.section-principal {
  height: auto;

}

.titulo-section {
  color: var(--rosaFuerte);
  margin:2rem 0;
  font-size: 3rem;
  font-family:var(--roboto);
  text-align: center;
}

.parrafos-section {
  color: black;
  width: 80%;
  font-family: var(--lato);
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 2rem;
}

.nombre-dani {
font-size: 1.6rem;
color: var(--rosaFuerte);
font-weight: 800;
}


.card {
  width: 80%;
}

.article-con-links {
  height: auto;
}

.titulo-section1 {
  text-align: center;
}

}

/* Small tablet portrait con aprox 800 de Height */
@media (min-width: 481px) and (max-width: 600px) {
  header {
    flex-direction: column;
}

.titulo-felicidades , .titulo-habemus{
  text-align: center;
}

.section-principal {
  height: auto;

}

.titulo-section {
  color: var(--rosaFuerte);
  margin:2rem 0;
  font-size: 3rem;
  font-family:var(--roboto);
  text-align: center;
}

.parrafos-section {
  color: black;
  width: 80%;
  font-family: var(--lato);
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 2rem;
}

.nombre-dani {
font-size: 1.6rem;
color: var(--rosaFuerte);
font-weight: 800;
}


.card {
  width: 80%;
}

.article-con-links {
  height: auto;
}

.titulo-section1 {
  text-align: center;
}
}

 /* Large tablet portrait (ipad con 1024 de H) */
@media (min-width: 601px) and (max-width: 768px) {

}

/* Tablet Landscape and XL tablet portrait (ipad pro con aprox 1366 de H) */
@media (min-width: 769px) and (max-width: 1024px) {

}